.App {
  text-align: center;
  width: 100%;
}

.header{
  background-color: pink;
  height: 50px;
  line-height: 50px;
}

.checkboxes{
  font-size: 0;
  list-style: none;
  background-color: #333;
}

.checkboxes li{
  display: inline-block;
  width: 10%;
  font-size: 10px;
  color: white;
}

.chart{
  background-color: black;
}
